h1{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-decoration-color: blue;
    color: rgb(0, 0, 97);
}
#bb{
    top: 284px;
    width:  250px;
    
}
#aa{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: black;
}
#c{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
footer{
    color:black;
    font-size: 15px;
    margin: 20px 0 0;
}
#cc{
    font-size: x-large;
}

