#as{
    background-color: darkred;
    padding: 30px;
    margin: -8px;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-decoration-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  
}
#bb{
    top: 284px;
    width: 260px;
    margin-left: 600px;
    
}
#aa{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: black;
    text-align: center;
    margin: 30px;
}
#c{
  margin-left: 550px;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
footer{
    color:black;
    font-size: 15px;
    margin: 20px 0 0;
}
#cc{
    font-size: x-large;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ah{
    margin-left: 440px;
}
#q{
    text-align: center;
    background-color: darkred;
    margin: -8px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#s{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
#qa{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ss{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
}
#z{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    margin-left: 550px;
}
#x{
      top: 284px;
    width: 450px;
  margin-left: 550px;
}
#m{
    font-style: italic;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
margin-left: 550px;
}
#resultado{
    font-size: large;
    font-style: italic;
}